<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/profile">Profile</a></li>
        <li class="dropdown">
            <a href="/works">Works</a>
            <ul class="dropdown-menu">
                <li><a href="/works/linkedlist">Linked List</a></li>
                <li><a href="/works/stack">Stack</a></li>
                <li><a href="/works/queue">Queue</a></li>
                <li><a href="/works/binarytree">Binary Tree</a></li>
                <li><a href="/works/graph">Graph</a></li>
                <li><a href="/works/sort">Sort</a></li>
            </ul>
        </li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</nav>
